* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?_gl=1*1eu6tft*_ga*MTQ0MDc0MzI5Mi4xNzUwMzA3MTI4*_ga_8JE65Q40S6*czE3NTMxMTE4MTckbzUkZzEkdDE3NTMxMTE4MjUkajUyJGwwJGgw);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    margin-left: 680px;
}

.about-me h2 {
    color: black;
    text-align: center;
}

.about-me p {
    color: rgb(19, 12, 12);
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 12px;
    margin: 10px 110px 10px 110px;
}

.profile {
    color: black;
    padding: 20px;
    padding-bottom: 50px;
    background-color: white;
    grid-column: span 1;
    grid-row: 1;
}

.profile h4 {
    color: rgb(28, 28, 135);
}

.skills {
    color: white;
    background-color: rgb(28, 28, 135);
    padding: 20px;
    grid-column: span 2;
    grid-row: 1;
}

.bar{
  width: 100%;
  background-color: rgb(28, 28, 135);
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
}

.fill{
  height: 100%;
  background-color: white;
}

.bar2{
  width: 100%;
  background-color: rgb(28, 28, 135);
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
}

.fill2{
  height: 100%;
  background-color: white;
}


.education {
    background-color: rgb(28, 28, 135);
    padding: 20px;
    color: aliceblue;
    grid-column: span 2;
    grid-row: 2;
}

.education h5 {
    color: rgb(28, 28, 135);
}

small {
    margin-left: 130px;
}

.lang {
    padding: 20px;
    background-color: white;
    grid-column: span 1;
    grid-row: 2;
}

.contact {
    font-size: small;
    padding: 20px;
    background-color: white;
    grid-column: span 1;
    grid-row: 3;
}

.experiences {
    background-color: rgb(28, 28, 135);
    color: white;
    padding: 20px;
    grid-column: span 2;
    grid-row: 3;
}

.experiences h5 {
    color: rgb(105, 105, 255);
}

.exp {
    margin-left: 130px;
}

h6{
  text-align: center;
  font-size: larger;
  color: white;
  font-family: sans-serif;
}
